Package: mx-remaster
Version: 26.06.02mx23
Architecture: all
Maintainer: Adrian <adrian@mxlinux.org>
Installed-Size: 1263
Depends: antix-libs, whois, perl-base
Recommends: localize-repo
Breaks: remaster-mx
Replaces: remaster-mx
Section: system
Priority: required
Homepage: http://mepis.org
Description: Tools for live persistence and remastering.
